body {
    background-color: #6698FF;
}

#main {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 300px;
}

#header {
    height:80px;
    z-index:2;
    position: fixed; 
    top: 150px;
    left: 0;
    right: 0;

    background-color: white;
    -moz-box-shadow:    0px 0px 5px 10px white;
    -webkit-box-shadow: 0px 0px 5px 10px white;
    box-shadow:         0px 0px 5px 10px white;
}

#title_img {
    position: absolute;
    top:-150px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
}

#toc {
    width:1200px;
    position: fixed; top: 160px; left: auto; right: auto;
    padding-right:10px;
    z-index:3;
    font-size:2em;
}

#toc a {
    text-decoration: none;
    color:rgb(0,0,128);
}

#toc a:hover {
    color:rgba(0,0,128,0.4);
}

#toc ul {
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

#toc li {
    float: left;
    margin-right: 2em;
    bullet: none;
}

.bg_img {
    position: fixed; top: 0px; left: auto; right: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.info {
    width: 600px;
    border: 5px rgba(255,255,255,0.7) solid;
    border-collapse: collapse;
    border-spacing: 0px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 10px;
    color: #000;
    background-color: rgba(255, 255, 255,0.5);
    margin-bottom: 100px;
}

.info_anchor {
    position:relative;
    top: -250px;
}


.info_left {
}

.info_right {
    margin-left: 400px;
}

.info h1 {
color:rgb(0,0,128);
    text-align:center; 
}

#footer{
    color: rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}
