body {
    background-color: #aaf;
}

#main {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 300px;
}

#header {
    height:80px;
    z-index:2;
    position: fixed; 
    top: 150px;
    left: 0;
    right: 0;

    background-color: white;
    -moz-box-shadow:    0px 0px 5px 10px white;
    -webkit-box-shadow: 0px 0px 5px 10px white;
    box-shadow:         0px 0px 5px 10px white;

}

#title_img {
    position: absolute;
    top:-150px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
}

#toc {
    width:800px;
    position: fixed; top: 170px; left: auto; right: auto;
    padding:10px;
    z-index:3;
}

#toc ul {
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}

#toc li {
    float: left;
    margin-right: 2em;
    bullet: none;
}
.panel {
    position:relative;
    top: -250px;
}


.bg_img {
    position: fixed; top: 0px; left: auto; right: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.info {
    width: 500px;
    border: 5px rgba(255,255,255,1) solid; 
    border-collapse: collapse; 
    border-spacing: 0px; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    padding: 5px; 
    color: #000; 
    background-color: rgba(255, 255, 255,0.5);
    margin-bottom: 100px;
}

.info_left {
}

.info_right {
    margin-left: 500px;
}

.info h1 {
    text-align:center; 
}
